<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="WireframeSketcher Remote Target" sequenceNumber="8">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201605250459"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.10.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="4.4.2.v20150204-1700"/>
<repository location="http://download.eclipse.org/releases/luna/201502271000"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.xpect.sdk.feature.group" version="0.1.0.201508191347"/>
<repository location="http://www.xpect-tests.org/updatesite/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.wireframesketcher.feature.group" version="4.6.4"/>
<repository location="http://wireframesketcher.com/updates/archive"/>
</location>
</locations>
</target>
